<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p><img src="images/reading.webp" class="img-fluid" alt="Dyslexia"></p>
    <p>I stood there as you broke my hear, the words you spoke quickly in your eyes no one would
        ever understand the feeling of your life falling apart while you dare down at the new Samsung
         Galaxy waiting for princess makeover to load trying to understand what you were saying I look 
         up at your face radiating with this shimmer of excitement as if you enjoyed hearing your own mouth
          at a few sentences that have stayed with me my entire life </p>
    <p>My inability to understand let me to turn my head and search for my parents and search for some
         answers I found myself with you as pure joy escaped with every sound and phonics that left your mouth
          in a room that was once filled with customer sales assistance now all that was left was you and I and a soft
           hum leaking from the tables lined with rose upon rose of glowing phones My brain spiraled trying to understand 
           trying to hold the tears back trying to find someone to save me someone to stop this woman she was ruining my life
            in the middle of a cell phone store</p>
    <p> My father stood online chatting to his brother about a new phone case he was about to buy while his wife my aunt told
         me I had a problem that for the rest of my life I would have to work harder than everybody else around me I felt myself 
         sink beneath comparisons that instantly formed as I took on the site of the smile beaming for my cousin's face because I would never 
         compare to her to my sister or to anyone really I will pray forever beneath them I was in the 4th grade and this woman my aunt just told
          me I was dyslexic that I was changing schools that I was abandoning the fragile sense of belonging I had built the rhythms of my everyday 
          routine dwindled away </p>
    <p>She told me I was dyslexic</p>
    <p>She told me I had a problem</p>
    <p>She told me I was different </p>
    
<%- include('../partials/footer') %>