<P%- include('../partials/header') %>
    <h1><%=title%></h1>
    <p><img src="images/tan-family.jpg" class="img-fluid" alt="Dyslexia"></p>
    <p>Language is a reflection of identity, culture and the connections we build as humans throughout our lives. In Amy Tan’s essay “Mother Tongue,” Amy
        Tan uncovers all the forms of English she grew up speaking and how her mother's “limited” English shaped her world. In this essay I will first 
        examine how Amy navigatesbetween versions of English depending on her audience and how this mirrors the reality of children with parents who are not
        fluent in English. I will explore the transcription of her mother's speech and what it reveals about the gaps between how language is perceived and
        what it actually communicates. Finally it will consider Amy's complicated feelings about translating for her mother and how those experiences should
        not be seen as a burden but as a privilege that builds responsibility. Ultimately, while Amy comes to value her mother's language she perhaps does 
        not fully recognize the profound ways that navigating linguistics has shaped not only her writing, but her humanity.
    </p>
    <p>Amy Tan likes to define herself as someone who has always loved language. She is an author after all. In “Mother Tongue” she describes herself as a
        person who spends a lot of “time thinking about the power of language ---the way it can invoke emotions and create visual images”. This is quite
        fascinating, because without language we would be incapable of communicating our emotions. Every time we choose to use a word we are constructing
        an image in someone's mind.  In the first page we are placed in a room where Amy is speaking to a group of people. This is when she realizes that
        she is speaking in a completely different way that she does not recognize. She states that she speaks using “all the forms of standard English 
        that I had learned in school and through books, the forms of English I did not use at home with my mother.”
    </p>
    <p>As I reached the end of this page I became aware of similarities between Amy and myself where my parents do not speak fluent English and I do. I was 
        raised bilingual, so the idea of Amy choosing to speak in a different way when she's around specific groups of people and choosing to change her
        manner of speaking when she's around her parents is something that I can relate to because it is something I do to this day.
    </p>
    <p>On the second page there is a transcription. The transcription is a conversation between Amy and her mother. Before we get to see what her mother
        is trying to communicate, we get a summarized version from what is actually said from Amy. Amy is able to effectively communicate with the reader 
        within two lines. Then we read the transcription of what her mother actually said. Honestly, I found it very difficult to understand and without 
        Amy’s summarized version I would not have understood anything. This reminded me of a video my husband and I watched of IShowSpeed. He was in 
        Johannesburg trying to play a card game with a local. The local was explaining the rules of the game. However, the local was using “broken”/”fractured” 
        English. He went on to explain the rules. I was able to understand what he was trying to communicate but Speed and my husband had no idea what he was
        trying to say. I found this fascinating, because this is very similar to Amy's transcription. She understood what her mother was saying because that 
        is their “language of intimacy”.hat is how they communicate just like I was able to understand what the local man was trying to say. The language the
        local spoke was my “language of intimacy”. The language I grew up tangled in. I grew up and learned very quickly I had to restructure sentences in 
        order for them to make sense. We adapted. Amy and I had to adapt to be able to communicate effectively.
    </p>
    <p>When Amy says “I know this for a fact, because when I was growing up, my mother’s ‘limited’ English limited my perception of her.” I think that this is
        very sad. Amy might have these feelings because of cultural influences that she has in her life. I say this because since I was a child my parents would
        say to me “we send you to English schools because we wanted better for you”. As a child this statement had very little value to me. I did not understand
        what my parents were saying to me. I did not understand what I was being given. I was given opportunities that my parents would only dream of.  I have
        never been ashamed of my parents “limited” English. When Amy says “ I believed that her English reflected the quality of what she had to say, that is,
        because she expressed them imperfectly her thoughts were imperfect.” This is proof that she placed her mother’s intelligence with her ability to
        speak English, which is not fair for her mother. She doesn’t deserve that, because having the ability to speak a language that you were never
        taught should never be used to measure your intelligence.
    </p>
    <p>The fact that she felt embarrassed to help her mom make phone calls or to help her mom call the bank is devastating. Because her mother worked so
        hard to give her opportunities that would help her become a writer, help her be successful. I have done the same thing for my parents. I have 
        planned sleepovers with my friends, I have called banks, made doctors appointments. Never once have I ever been embarrassed, annoyed, or viewed
        them as unintelligent or limited. I knew how hard they have worked to open up opportunities for me.
    </p>
    <P>My mom has opened up to me and explained that she would avoid communicating with my friends’ parents because she didn’t want them to see her as
        less intelligent. She was always feeling embarrassed by her lack of English. I feel like it is nonsensical for Amy to think of her mother as less
        intelligent because I’m sure her mother already had those feelings.
    </P>
    <p>Amy has perhaps overlooked all the life lessons that she gained from doing mundane tasks for her parents. I think she learned a lot of responsibility
        through helping her parents and this prepared her for adulthood, and all the responsibilities that come with adulthood. If I didn’t write emails for
        my parents, if I didn’t message other parents on behalf of my parents I would not have learned how to speak professionally in emails. I would not
        have learned how to organize things with other people. And I feel it would have been more daunting to do these tasks if I did not have the 
        responsibility of helping my parents. I feel that Amy should have appreciated her parents for making her do these mundane tasks for them. 
        I am sure that doing these things helped her gain confidence to be able to express herself if she’s unhappy with something. Amy viewed helping
        her mom as a privilege. A privilege that takes a lot of time for people to get comfortable with. I do want to acknowledge that Amy
        does find value in her mother's language but perhaps has not fully recognized the value in the responsibility she had as a child.
    </p>
    <p>The children who translated phone calls, scheduled appointments, and navigated two worlds before they were teenagers were not burdened, they were 
        being shaped. Amy should treat her experience not as a gap to overcome, but a depth worth honoring. Her journey from embarrassment to appreciation 
        reflects a struggle that many children know deeply. We the children of non-English speakers should all come to the realization that what once felt like 
        a burden was quietly building us up. This realization is not enough. Amy Tan has asked us to examine the systems that make immigrant families feel 
        “limited” in the first place, the institutions that fail non-native speakers. The culture that equates fluency with intelligence. What needs to change 
        is not just individual attitude, but collective understanding.
    </p>
    <%- include('../partials/footer') %>