<%- include('../partials/header') %>

<h2>Software Engineering/Programming Vocabulary</h2>
<h4>Basic Terminology</h4>
<p><img src="images/Software-engineer.webp" class="img-fluid" alt="Italy"></p>
<p><strong>program:</strong> A collection of code that can execute on its own to perform some task. Could also be called an application. Examples include email, calculator, games, etc.</p>
<p><strong>data type:</strong> Tells the program what sort of data can be expected to be found in memory. A data type can be as simple as a boolean with values of true or false, to a real number that contains a decimal point. A character is a single letter while a string is a data type that contains an array of characters. Data types can also be created by a class and can be as complex or simple as is needed.</p>
<p><strong>Condition</strong> A logical statement that directs the program to do something based on the veracity of the statement. Typically this is done with: if, else if, else. When a condition is true, then the code block inside {} will execute. If the condition is false, then the attached code does not execute. Complex conditions can be achieved using AND, OR, and NOT. Keep in mind that if your condition is something like “NOT TRUE” and the statement is indeed false, then technically that is true - because your condition is checking if your statement is “not true” and since your statement is “false” then it is correct-true. Conditions can be thought of as questions, “Is my statement true? If so, execute my code. If not, then don’t execute my code.”</p>
<p><strong>const: </strong>A key word that is short for “constant” Using this keyword prevents the data from changing. If for example I made an object: const speed = 10; because of the use of the word “const” my object “speed” will always have the same value - which is 10. It cannot be change. This is useful for things that you do NOT want to change. An example would be the math symbol for ‘pi’: const pi = 3.14159.</p>
<p><strong>initialize:</strong> The very first time an object/variable is assigned a value. Often a variable is declared and initialized at the same time. Generally it is a good practice to declare and initialize at the same time, but this isn’t always the case. Also, depending on the program, it is sometimes useful to “re-initialize” variables after they have been used. In this case the variable was already declared and we are just “resetting” it so to speak.</p>
<p><strong>Scope:</strong> The range in which an object is available. For most objects, scope is limited to the code block in which the object is declared. Certain keywords can be used to expand an object’s range/scope.</p>
<p><strong>instantiate:</strong> The act of creating an object. For example if I had earlier declared a class and now I want to make an object of my class then I am “instantiating” my class object.,</p>

<%- include('../partials/footer') %>




